@using System.Globalization
@model web.Models.ViewCOSEMLogicalDevice

@{
	ViewBag.Title = "Edit COSEM logical device properties";
	Layout = "~/Views/Shared/_LayoutModeling.cshtml";
}

<h2>Edit COSEM logical device properties</h2>

<p>
	@Html.ActionLink("Logical Devices", "Index/" + Model.DeviceTypeID.ToString(CultureInfo.InvariantCulture))
</p>

@using (Html.BeginForm()) {
	@Html.ValidationSummary(true)
	<fieldset>
		<legend>COSEM logical device properties</legend>

		@Html.HiddenFor(model => model.DeviceTypeID)

		<table style="width:100%;">
			<tr>
				<td style="border: 0 hidden;">
					<div class="editor-label">
						@Html.LabelFor(model => model.DeviceTypeID, "Device type")
					</div>
				</td>
				<td style="border: 0 hidden;">
					<div class="display-field">
						@Html.DisplayFor(model => model.DeviceTypeName)
					</div>
				</td>
			</tr>

			<tr>
				<td style="border: 0 hidden;">
					<div class="editor-label">
						@Html.LabelFor(model => model.Name, "Name")
					</div>
				</td>
				<td style="border: 0 hidden;">
					<div class="editor-field">
						@Html.EditorFor(model => model.Name)
						@Html.ValidationMessageFor(model => model.Name)
					</div>
				</td>
			</tr>
		</table>
	</fieldset>
	<p>
		<input type="submit" value="Save" />
	</p>
}
