@model web.Models.ViewChartSet

@{
	ViewBag.Title = "Chart set details";
	Layout = "~/Views/Shared/_LayoutRepresentation.cshtml";
}

<h2>Chart set details</h2>

<p>
	@Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
	@Html.ActionLink("Chart Sets", "Index") |
	@Html.ActionLink("View", "View", new { id = Model.ID })
</p>

<fieldset>
	<legend>Chart set properties</legend>

	<table style="width:100%;">
		<tr>
			<td style="border: 0 hidden;">
				<div class="display-label">Name</div>
			</td>
			<td style="border: 0 hidden;">
				<div class="display-field">
					@Html.DisplayFor(model => model.Name)
				</div>
			</td>
		</tr>

		<tr>
			<td style="border: 0 hidden;">
				<div class="display-label">Cell Width</div>
			</td>
			<td style="border: 0 hidden;">
				<div class="display-field">
					@Html.DisplayFor(model => model.CellWidth)
				</div>
			</td>
		</tr>

		<tr>
			<td style="border: 0 hidden;">
				<div class="display-label">Cell Height</div>
			</td>
			<td style="border: 0 hidden;">
				<div class="display-field">
					@Html.DisplayFor(model => model.CellHeight)
				</div>
			</td>
		</tr>

		<tr>
			<td style="border: 0 hidden;">
				<div class="display-label">Rows</div>
			</td>
			<td style="border: 0 hidden;">
				<div class="display-field">
					@Html.DisplayFor(model => model.Rows)
				</div>
			</td>
		</tr>

		<tr>
			<td style="border: 0 hidden;">
				<div class="display-label">Cols</div>
			</td>
			<td style="border: 0 hidden;">
				<div class="display-field">
					@Html.DisplayFor(model => model.Cols)
				</div>
			</td>
		</tr>

		<tr>
			<td style="border: 0 hidden;">
				<div class="display-label">Margin</div>
			</td>
			<td style="border: 0 hidden;">
				<div class="display-field">
					@Html.DisplayFor(model => model.Margin)
				</div>
			</td>
		</tr>
	</table>
</fieldset>
