@model ViewChartSet

@{
	ViewBag.Title = Model.Name;
	Layout = "~/Views/Shared/_LayoutRepresentation.cshtml";
}

@using System.Globalization
@using web.Models;
@using web.Controllers;

<h2>@Model.Name</h2>

<p>
	@Html.ActionLink("Chart Sets", "Index") |
	@Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
	@Html.ActionLink("Charts & Diagrams", "Index", "ChartSetCharts", new { id = Model.ID }, null)
</p>

@{
	var l1 = (List<ViewChartSetsCharts>)ViewBag.ChartSetsCharts;
}

@{
	for (var row = 0; row < Model.Rows; row++)
	{
		for (var col = 0; col < Model.Cols; col++)
		{
			for (var i = 0; i < l1.Count(); i++)
			{
				var item = l1[i];
				if (item.ColIndex != col || item.RowIndex != row)
				{
					continue;
				}
				var s = Url.Action("GetChartContentWh", "Chart", new { id = item.ChartID, width = Model.CellWidth, height = Model.CellHeight });
				@Html.Raw(
					"<script type=\"text/javascript\">" +
						"$(function () {" +
							"var seqNum = 0;" +

							"function update() {" +
								"var u = '" + s + "' + '&seqNum=' + seqNum++;" +
								/* https://www.evernote.com/shard/s132/nl/14501366/82196283-fd9c-43a4-844a-5b2845f602e8  */
								/* Вместо AJAX - простая замена ссылки. Счетчик увеличивается, чтобы обойти кэширование. */
								"document.getElementById('div_chart_" + item.ChartID.ToString(CultureInfo.InvariantCulture) + "').setAttribute('src', u);" +

								"setTimeout(function () {" +
									"update();" +
								"}, 5000);" +
							"};" +
							"update();" +
						"});" +
					"</script>")
				break;
			}
		}
	}
}

<fieldset>
	<legend>@Model.Name</legend>
	<table width="100%">
		@{
			var l = (List<ViewChartSetsCharts>)ViewBag.ChartSetsCharts;

			for (Int32 row = 0; row < Model.Rows; row++)
			{ 
				<tr>
					@for (Int32 col = 0; col < Model.Cols; col++)
					{
						//  search of appropriate chart
						var found = false;
						for (Int32 i = 0; i < l.Count(); i++)
						{
							var item = l[i];
							if (item.ColIndex != col || item.RowIndex != row)
							{
								continue;
							}
							<td style=@Html.Raw("\"border: 0 hidden; padding:" + Model.Margin.ToString(CultureInfo.InvariantCulture) + "px;\"")>
								<p>
									@Html.ActionLink("Edit", "Edit", "Chart", new { id = item.ChartID }, null) <!-- | -->
									@*Html.ActionLink("XLSX", "XLSX", "Chart", new { id = item.ChartID }, null)*@
								</p>
								@{
									ViewBag.ChartID = item.ChartID;
									ViewBag.Width = Model.CellWidth;
									ViewBag.Height = Model.CellHeight;
								}
								@Html.Partial(item.ChartType.ToLower() == ProjectChartController.Diagram.ToLower() ? "DivDiagram" : "DivChart", new {item.ChartID, Width = Model.CellWidth, Height = Model.CellHeight })
								@*data are translated through ViewData!*@
							</td>
							found = true;
							break;
						}

						if (!found)
						{ 
							<td style=@Html.Raw("\"border: 0 hidden; padding:" + Model.Margin.ToString(CultureInfo.InvariantCulture) + "px;\"")>
							</td>
						}
					}
				</tr>
			}
		}
	</table>
</fieldset>

