<!DOCTYPE html>
<html>
<head>
	<title>@ViewBag.Title</title>
	<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/Content/themes/flick/jquery.ui.all.css")" rel="stylesheet" type="text/css" media="all" />
	<script src="@Url.Content("~/Scripts/jquery-1.6.2.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/ui/jquery-ui-1.8.16.custom.js")" type="text/javascript"></script>
	<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
</head>

<script type="text/javascript">
	window.onload = function () {
		var v = document.getElementById('Submit');
		if(null != v) v.focus();
	}
</script>

<body>
	<div class="page">
		<div id="header">
			<div id="title">
				<div class="logo">
					@if (null != User.Identity.Name && !User.Identity.Name.IsEmpty()/*should be!*/)
					{
						<text>@Html.Raw((String)ViewBag.AppName1) <span>@Html.Raw((String)ViewBag.AppName2)</span> greets <strong>@User.Identity.Name</strong></text>
					}
					else
					{ 
						<text>@Html.Raw((String)ViewBag.AppName1) <span>@Html.Raw((String)ViewBag.AppName2)</span></text>
					}    
				</div>
			</div>
			<div id="menucontainer">
				<ul id="menu">
					@if (Roles.IsUserInRole(User.Identity.Name, "Administrator") || Roles.IsUserInRole(User.Identity.Name, "User"))
					{
						@Html.Raw("<li>") @Html.ActionLink("Model", "Index", "DeviceType") @Html.Raw("</li>")                        
						@Html.Raw("&#32;<li>") @Html.ActionLink("Meter Groups", "Index", "Group") @Html.Raw("</li>")
						@Html.Raw("&#32;<li>") @Html.ActionLink("Chart Sets", "Index", "ChartSet") @Html.Raw("</li>")
						@Html.Raw("&#32;<li>") @Html.ActionLink("Charts & Diagrams", "Index", "Chart") @Html.Raw("</li>")
					}
					&#32;
					<!-- <li>@Html.ActionLink("Data", "Upload", "Data")</li> -->
					<li>@Html.ActionLink("Home", "Index", "Home")</li>
				</ul>
			</div>
		</div>
		<div @Html.Raw("id=\"main_rational_city\"")>
			@RenderBody()
		</div>
		<div id="footer">
			Copyright &copy; 2015 <span class="logo" style="position:relative;">@Html.Raw((String)ViewBag.AppName1) <span>@Html.Raw((String)ViewBag.AppName2)</span></span> | Rev. 3420 | Last updated 24 May 2015 at 20:24:03 | @Html.Partial("_LogOnPartial")
		</div>
	</div>
</body>
</html>
