@model web.Models.ViewOBISSet

@{
	ViewBag.Title = "Details of OBIS set";
	Layout = "~/Views/Shared/_LayoutModeling.cshtml";
}

<h2>Details of OBIS set</h2>

<p>
	@Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
	@Html.ActionLink("OBIS Sets", "Index")
</p>

<fieldset>
	<legend>OBIS set properties</legend>

	<table>
		<tr>
			<td style="border: 0 hidden;">
				<div class="display-label">Device type:</div>
			</td>
			<td style="border: 0 hidden;">
				<div class="editor-label">
					@Html.Raw(ViewBag.DeviceTypeName)
				</div>
			</td>
		</tr>

		<tr>
			<td style="border: 0 hidden;">
				<div class="display-label">Standard:</div>
			</td>
			<td style="border: 0 hidden;">
				@Html.DisplayFor(model => model.Standard)
			</td>
		</tr>
	</table>

	<fieldset>
		<legend>Code combination</legend>

		<table>
			<tr>
				<td style="border: 0 hidden;">
					<div class="display-label">A:</div>
				</td>
				<td style="border: 0 hidden;">
					<div class="display-field">
						@Html.DisplayFor(model => model.AValue)
					</div>
				</td>
				<td style="border: 0 hidden;">
					<div class="display-label">B:</div>
				</td>
				<td style="border: 0 hidden;">
					<div class="display-field">
						@Html.DisplayFor(model => model.BValue)
					</div>
				</td>
				<td style="border: 0 hidden;">
					<div class="display-label">C:</div>
				</td>
				<td style="border: 0 hidden;">
					<div class="display-field">
						@Html.DisplayFor(model => model.CValue)
					</div>
				</td>
				<td style="border: 0 hidden;">
					<div class="display-label">D:</div>
				</td>
				<td style="border: 0 hidden;">
					<div class="display-field">
						@Html.DisplayFor(model => model.DValue)
					</div>
				</td>
				<td style="border: 0 hidden;">
					<div class="display-label">E:</div>
				</td>
				<td style="border: 0 hidden;">
					<div class="display-field">
						@Html.DisplayFor(model => model.EValue)
					</div>
				</td>
				<td style="border: 0 hidden;">
					<div class="display-label">F:</div>
				</td>
				<td style="border: 0 hidden;">
					<div class="display-field">
						@Html.DisplayFor(model => model.FValue)
					</div>
				</td>
			</tr>
		</table>
	</fieldset>
</fieldset>
