@model IEnumerable<web.Models.ViewOBISSet>

@{
	ViewBag.Title = "OBIS sets";
	Layout = "~/Views/Shared/_LayoutModeling.cshtml";

	var grid = new WebGrid(Model,
						   defaultSort: "DeviceTypeName",
						   rowsPerPage: 20); 
}

<h2>@Html.Raw(ViewBag.Title)</h2>

<p>
	@Html.ActionLink("New", "Create")
</p>

<div class="webgrid-wrapper">
	<div class="webgrid-title"></div>
	<div id="grid">
		@grid.GetHtml( 
			tableStyle: "grid", 
			headerStyle: "head", 
			alternatingRowStyle: "alt",
			footerStyle: "footer",
			columns: grid.Columns(
				grid.Column("DeviceTypeName", "Device Type", style: "product"),
				grid.Column("AValue", "A", style: "product"),
				grid.Column("BValue", "B", style: "product"),
				grid.Column("CValue", "C", style: "product"),
				grid.Column("DValue", "D", style: "product"),
				grid.Column("EValue", "E", style: "product"),
				grid.Column("FValue", "F", style: "product"),
				grid.Column("Standard", "Standard", style: "product"),
				grid.Column("ID", "", @<text>@Html.ActionLink("Edit", "Edit", new { id=item.ID })</text>, style: "product", canSort: false),
				grid.Column("ID", "", @<text>@Html.ActionLink("Details", "Details", new { id=item.ID })</text>, style: "product", canSort: false),
				grid.Column("ID", "", @<text>@Html.ActionLink("Delete", "Delete", new { id=item.ID })</text>, style: "product", canSort: false)
			),
			numericLinksCount: 20
		)
	</div>
</div>
