@model web.Models.ViewCOSEMClass

@{
	ViewBag.Title = "New COSEM class";
	Layout = "~/Views/Shared/_LayoutModeling.cshtml";
}

<h2>@Html.Raw(ViewBag.Title)</h2>

<p>
	@Html.ActionLink("Classes", "Index")
</p>

@using (Html.BeginForm()) {
	@Html.ValidationSummary(true)
	<fieldset>
		<legend>COSEM class properties</legend>

		<table style="width:100%;">
			<tr>
				<td style="border: 0 hidden;">
					<div class="editor-label">
						@Html.LabelFor(model => model.ClassName, "Class name")
					</div>
					<div class="editor-field">
						@Html.EditorFor(model => model.ClassName)
						@Html.ValidationMessageFor(model => model.ClassName)
					</div>
				</td>

				<td style="border: 0 hidden;">
					<div class="editor-label">
						@Html.LabelFor(model => model.COSEMClassID, "Identifier")
					</div>
					<div class="editor-field">
						@Html.EditorFor(model => model.COSEMClassID)
						@Html.ValidationMessageFor(model => model.COSEMClassID)
					</div>
				</td>
			</tr>

			<tr>
				<td style="border: 0 hidden;">
					<div class="editor-label">
						@Html.LabelFor(model => model.CardinalityMin, "Min. cardinality")
					</div>
					<div class="editor-field">
						@Html.EditorFor(model => model.CardinalityMin)
						@Html.ValidationMessageFor(model => model.CardinalityMin)
					</div>
				</td>
				<td style="border: 0 hidden;">
					<div class="editor-label">
						@Html.LabelFor(model => model.Version, "Version")
					</div>
					<div class="editor-field">
						@Html.EditorFor(model => model.Version)
						@Html.ValidationMessageFor(model => model.Version)
					</div>
				</td>
			</tr>

			<tr>
				<td style="border: 0 hidden;">
					<div class="editor-label">
						@Html.LabelFor(model => model.CardinalityMax, "Max. cardinality")
					</div>
					<div class="editor-field">
						@Html.EditorFor(model => model.CardinalityMax)
						@Html.ValidationMessageFor(model => model.CardinalityMax)
					</div>
				</td>
				<td style="border: 0 hidden;">
					<div class="editor-label">
						@Html.LabelFor(model => model.Standard, "Standard")
					</div>
					<div class="editor-field">
						@Html.EditorFor(model => model.Standard)
						@Html.ValidationMessageFor(model => model.Standard)
					</div>
				</td>
			</tr>
		</table>
	</fieldset>
	<p>
		<input type="submit" value="Create" />
	</p>
}
