@using System.Globalization
@model web.Models.ViewCOSEMObject

@{
	ViewBag.Title = "Details of COSEM object";
	Layout = "~/Views/Shared/_LayoutModeling.cshtml";
}

<h2>Details of COSEM object</h2>

<p>
	@Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
	@Html.ActionLink("Objects", "Index/" + Model.COSEMLogicalDeviceID.ToString(CultureInfo.InvariantCulture))
</p>

<fieldset>
	<legend>COSEM object properties</legend>

	<table style="width:100%;">
		<tr>
			<td style="border: 0 hidden;">
				<div class="display-label">Device type</div>
			</td>
			<td style="border: 0 hidden;">
				<div class="display-field">
					@Html.DisplayFor(model => model.DeviceTypeName)
				</div>
			</td>
		</tr>

		<tr>
			<td style="border: 0 hidden;">
				<div class="display-label">COSEM Logical device ID</div>
			</td>

			<td style="border: 0 hidden;">
				<div class="display-field">
					@Html.DisplayFor(model => model.COSEMLogicalDeviceID)
				</div>
			</td>
		</tr>

		<tr>
			<td style="border: 0 hidden;">
				<div class="display-label">COSEM class</div>
			</td>
			<td style="border: 0 hidden;">
				<div class="display-field">
					@Html.DisplayFor(model => model.COSEMClassName)
				</div>
			</td>
		</tr>

		<tr>
			<td style="border: 0 hidden;">
				<div class="display-label">Logical name</div>
			</td>
			<td style="border: 0 hidden;">
				<div class="display-field">
					@Html.DisplayFor(model => model.COSEMLogicalName)
				</div>
			</td>
		</tr>
	</table>
</fieldset>
