@model IEnumerable<web.Models.ViewChartSetsCharts>

@{
    ViewBag.Title = "Charts of chart set \"" + ((String)ViewBag.ChartSetName).TrimEnd() + "\"";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var grid = new WebGrid(source: Model,
                           defaultSort: "ChartName",
                           rowsPerPage: 20);
}

<h2>@Html.Raw("Charts of chart set \"" + ((String)ViewBag.ChartSetName).TrimEnd() + "\"")</h2>

<p>
    @Html.ActionLink("Edit Chart Set", "Edit", "ChartSet", new { id = (Int64)ViewBag.ChartSetID }, null)
</p>

<div id="grid">
    @grid.GetHtml(
        tableStyle: "grid",
        headerStyle: "head",
        alternatingRowStyle: "alt",
        columns: grid.Columns(
            grid.Column("ChartName", "Chart Name", style: "product"),
            grid.Column("ColIndex", "Col Index", format: @<text>@Html.Raw(item.ColIndex == null ? "Undefined" : item.ColIndex.ToString())</text>, style: "product"),
            grid.Column("RowIndex", "Row Index", format: @<text>@Html.Raw(item.RowIndex == null ? "Undefined" : item.RowIndex.ToString())</text>, style: "product"),
            grid.Column("ChartSetID", "In Chart Set", format:
                @<text>
                @if (null == item.ChartSetID)
                {
			        <span class="ui-icon ui-state-highlight ui-icon-closethick" title="Don't belong to chart set"></span>
                }
                else
                { 
				    <span class="ui-icon ui-state-highlight ui-icon-check" title="Belongs to chart set"></span>
                }
                </text>, style: "product"),
                grid.Column("ID", "", format: @<text>@if (item.ChartSetID != null) { @Html.ActionLink("Edit", "Edit", new { id = item.ChartSetID, chartID = item.ChartID }); } else { @Html.Raw("");}</text>, style: "product", canSort: false),
                grid.Column("ID", "", format: @<text>@if (item.ChartSetID != null) { @Html.ActionLink("Details", "Details", new { id = item.ChartSetID, chartID = item.ChartID }); } else { @Html.Raw("");}</text>, style: "product", canSort: false),
                grid.Column("ID", "", format: @<text>@Html.Raw("<form method=\"post\" action=\"" + Url.Action("AddChart", "ChartSetCharts", new { chartsetid = ViewBag.ChartSetID, chartid = item.ChartID, colindex = item.ColIndex, rowindex = item.RowIndex }) + "\"><input type=\"submit\" value=\"Add\" /></form>")</text>, style: "product", canSort: false),
                grid.Column("ID", "", format: @<text>@Html.Raw("<form method=\"post\" action=\"" + Url.Action("DeleteChart", "ChartSetCharts", new { id = ViewBag.ChartSetID, chartid = item.ChartID }) + "\"><input type=\"submit\" value=\"Delete\" /></form>")</text>, style: "product", canSort: false)
        ),
        numericLinksCount: 20
    )
</div>
