@model IEnumerable<web.Models.ViewZipCode>

@{
	ViewBag.Title = "Select zip code";
	Layout = "~/Views/Shared/_LayoutModeling.cshtml";

	var grid = new WebGrid(Model,
					   defaultSort: "ZipCode",
					   rowsPerPage: 20); 
}

<h2>Select zip code</h2>

<p>
	@Html.ActionLink("Cancel", ""/*empty action name*/, (String)ViewBag.ReturnTo) |
	@Html.ActionLink("New", "CreateZipCode", new { id = (Int64)ViewBag.ApartamentID, buildingID = (Int64)ViewBag.BuildingID, streetID = (Int64)ViewBag.StreetID, cityID = (Int64)ViewBag.CityID, stateID = (Int64)ViewBag.StateID, countryID = (Int64)ViewBag.CountryID, returnTo = (String)ViewBag.ReturnTo }) |
	@Html.ActionLink("Locations", "Index")
</p>

<div class="webgrid-wrapper">
	<div class="webgrid-title"></div>
	<div id="grid">
		@grid.GetHtml( 
			tableStyle: "grid", 
			headerStyle: "head", 
			alternatingRowStyle: "alt",
			footerStyle: "footer",
			columns: grid.Columns(
				grid.Column("ZipCode", "ZipCode", style: "product"),
				grid.Column("ID", "", @<text>@Html.ActionLink("Select", "SelectAddress", new { id=item.ID, apartamentID=(Int64)ViewBag.ApartamentID, buildingID=(Int64)ViewBag.BuildingID, streetid=(Int64)ViewBag.StreetID, cityid=(Int64)ViewBag.CityID, stateid=(Int64)ViewBag.StateID, countryid=(Int64)ViewBag.CountryID, returnTo=(String)ViewBag.ReturnTo })</text>, style: "product", canSort: false)
			),
			numericLinksCount: 20
		)
	</div>
</div>
