@using System.Globalization
@model web.Models.ViewCOSEMComplexTypeField

@{
	ViewBag.Title = "Details of complex COSEM type field";
	Layout = "~/Views/Shared/_LayoutModeling.cshtml";
}

<h2>Details of complex COSEM type field</h2>

<p>
	@Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
	@Html.ActionLink("Fields", "Index/" + Model.AggregateTypeID.ToString(CultureInfo.InvariantCulture))
</p>

<fieldset>
	<legend>Compex COSEM type field properties</legend>

	<table style="width:100%;">
		<tr>
			<td style="border: 0 hidden;">
				<div class="display-label">Field name</div>
			</td>
			<td style="border: 0 hidden;">
				<div class="display-field">
					@Html.DisplayFor(model => model.Name)
				</div>
			</td>
		</tr>

		<tr>
			<td style="border: 0 hidden;">
				<div class="display-label">Aggregate type name</div>
			</td>
			<td style="border: 0 hidden;">
				<div class="display-field">
					@Html.DisplayFor(model => model.AggregateTypeName)
				</div>
			</td>
		</tr>

		<tr>
			<td style="border: 0 hidden;">
				<div class="display-label">Field type name</div>
			</td>
			<td style="border: 0 hidden;">
				<div class="display-field">
					@Html.DisplayFor(model => model.TypeName)
				</div>
			</td>
		</tr>
	</table>
</fieldset>
