@model web.Models.ViewAddress

@{
	ViewBag.Title = "Add zip code";
	Layout = "~/Views/Shared/_LayoutModeling.cshtml";
}

<h2>Add zip code</h2>

<p>
	@Html.ActionLink("Locations", "Index") |
	@Html.ActionLink("Change", "Select")
</p>

@using (Html.BeginForm())
{
	@Html.ValidationSummary(true)
	@Html.Hidden("returnTo", (String)ViewBag.ReturnTo)
	@Html.Hidden("countryID", (Int64)ViewBag.CountryID)
	@Html.Hidden("stateID", (Int64)ViewBag.StateID)
	@Html.Hidden("cityID", (Int64)ViewBag.CityID)
	@Html.Hidden("streetID", (Int64)ViewBag.StreetID)
	@Html.Hidden("buildingID", (Int64)ViewBag.BuildingID)
	@Html.Hidden("apartamentID", (Int64)ViewBag.ApartamentID)
	<fieldset>
		<legend></legend>

		<div class="editor-label">
			@Html.LabelFor(model => model.ZipCode, "Zip Code")
		</div>
		<div class="editor-field">
			@Html.EditorFor(model => model.ZipCode)
			@Html.ValidationMessageFor(model => model.ZipCode)
		</div>
	</fieldset>
<p>
	<input type="submit" value="Create" />
</p>
}
