@model web.Models.ViewAddress

@{
	ViewBag.Title = "Delete location";
	Layout = "~/Views/Shared/_LayoutModeling.cshtml";
}

<h2>Delete location</h2>

<p>
	@Html.ActionLink("Locations", "Index")
</p>

<h3>Are you sure you want to delete this location?</h3>
<fieldset>
	<legend>Location properties</legend>

	<table style="width:100%;">
		<tr>
			<td style="border: 0 hidden;">
				<div class="display-label">Apartment/Office</div>
			</td>
			<td style="border: 0 hidden;">
				<div class="display-field">
					@Html.DisplayFor(model => model.Apartament)
				</div>
			</td>
		</tr>

		<tr>
			<td style="border: 0 hidden;">
				<div class="display-label">Building</div>
			</td>
			<td style="border: 0 hidden;">
				<div class="display-field">
					@Html.DisplayFor(model => model.Building)
				</div>
			</td>
		</tr>

		<tr>
			<td style="border: 0 hidden;">
				<div class="display-label">Street</div>
			</td>
			<td style="border: 0 hidden;">
				<div class="display-field">
					@Html.DisplayFor(model => model.Street)
				</div>
			</td>
		</tr>

		<tr>
			<td style="border: 0 hidden;">
				<div class="display-label">City</div>
			</td>
			<td style="border: 0 hidden;">
				<div class="display-field">
					@Html.DisplayFor(model => model.City)
				</div>
			</td>
		</tr>

		<tr>
			<td style="border: 0 hidden;">
				<div class="display-label">State</div>
			</td>
			<td style="border: 0 hidden;">
				<div class="display-field">
					@Html.DisplayFor(model => model.State)
				</div>
			</td>
		</tr>

		<tr>
			<td style="border: 0 hidden;">
				<div class="display-label">Country</div>
			</td>
			<td style="border: 0 hidden;">
				<div class="display-field">
					@Html.DisplayFor(model => model.Country)
				</div>
			</td>
		</tr>

		<tr>
			<td style="border: 0 hidden;">
				<div class="display-label">Zip Code</div>
			</td>
			<td style="border: 0 hidden;">
				<div class="display-field">
					@Html.DisplayFor(model => model.ZipCode)
				</div>
			</td>
		</tr>
	</table>
</fieldset>

@using (Html.BeginForm()) {
	<p>
		<input type="submit" value="Delete" />
	</p>
}
