@model web.Models.ViewOBISGroup

@{
	ViewBag.Title = "New OBIS group value";
	Layout = "~/Views/Shared/_LayoutModeling.cshtml";
}

<h2>@Html.Raw(ViewBag.Title)</h2>

<p>
	@Html.ActionLink("OBIS Groups", "Index")
</p>

@using (Html.BeginForm())
{
	@Html.ValidationSummary(true)
	<fieldset>
		<legend>OBIS group value properties</legend>

		<table style="width:100%;">
			<tr>
				<td colspan="3" style="border: 0 hidden;">
					<div class="editor-label">
						@Html.RadioButton("Standard", "true", true)Standard value (will automatically be associated with all devices)<br />
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="2" style="border: 0 hidden;">
					<div class="editor-field">

						@Html.RadioButton("Standard", "false", false)Device specific<br />

						@{/*Html.CheckBoxFor(model => model.Standard)*/}
						@{/*Html.ValidationMessageFor(model => model.Standard)*/}
					</div>
				</td>
				<td style="border: 0 hidden;">
					<div class="editor-label">
						@{/*Html.LabelFor(model => model.DeviceTypeID, "Device type")*/}
					</div>
					<div class="editor-field">
						@Html.DropDownList("DeviceTypeID")
						@{/*Html.ListBox("DeviceTypeID")*/}
						@{/*Html.ValidationMessageFor(model => model.DeviceTypeID)*/}
					</div>
				</td>
			</tr>
			<tr>
				<td style="border: 0 hidden; vertical-align:bottom;">
					<div class="editor-label">
						@Html.LabelFor(model => model.Type, "Group type")
					</div>
					<div class="editor-field">
						@Html.DropDownList("Type")
						@Html.ValidationMessageFor(model => model.Type)
					</div>
				</td>
				<td style="border: 0 hidden; vertical-align:bottom;">
					<div class="editor-label">
						@Html.LabelFor(model => model.Value)
					</div>
					<div class="editor-field">
						@Html.TextBoxFor(model => model.Value /*, new { style = "width:100px;" }*/)
						@Html.ValidationMessageFor(model => model.Value)
					</div>
				</td>
				<td style="width:100%; border: 0 hidden; vertical-align:bottom;">
					<div class="editor-label">
						@Html.LabelFor(model => model.Description)
					</div>
					<div class="editor-field">
						@Html.TextBoxFor(model => model.Description, new { style = "width:100%;" })
						@Html.ValidationMessageFor(model => model.Description)
					</div>
				</td>
			</tr>
		</table>
	</fieldset>
	<p>
		<input type="submit" value="Create" />
	</p>
}
