@model web.Models.ViewOBISGroup

@{
	ViewBag.Title = "Edit OBIS group properties";
	Layout = "~/Views/Shared/_LayoutModeling.cshtml";
}

<h2>Edit OBIS group properties</h2>

<p>
	@Html.ActionLink("OBIS Groups", "Index")
	@Html.ActionLink("Prev Group", "Edit", new { ID = Model.ID - 1 })
	@Html.ActionLink("Next Group", "Edit", new { ID = Model.ID + 1 })
</p>

@using (Html.BeginForm())
{
	@Html.ValidationSummary(true)
	<fieldset>
		<legend>OBIS group properties</legend>

		@Html.HiddenFor(model => model.ID)
		@Html.HiddenFor(model => model.Standard)
		@Html.HiddenFor(model => model.Type)

		<div class="editor-label">
			@Html.LabelFor(model => model.Value)
		</div>
		<div class="editor-field">
			@Html.TextBoxFor(model => model.Value)
			@Html.ValidationMessageFor(model => model.Value)
		</div>
		<div class="editor-label">
			@Html.LabelFor(model => model.Description)
		</div>
		<div class="editor-field">
			@Html.TextBoxFor(model => model.Description, new { style = "width:100%;" })
			@Html.ValidationMessageFor(model => model.Description)
		</div>
	</fieldset>
	<p>
		<input type="submit" value="Save" />
	</p>
}
