@model IEnumerable<web.Models.ViewOBISGroup>

@{
	ViewBag.Title = "OBIS value group definitions";
	Layout = "~/Views/Shared/_LayoutModeling.cshtml";

	var grid = new WebGrid(Model,
						   defaultSort: "Type",
						   rowsPerPage: 20); 
}

<h2>@Html.Raw(ViewBag.Title)</h2>

<p>
	@Html.ActionLink("New", "Create") |
	@Html.ActionLink("OBIS Sets", "Index", "ObisSet") |
	@Html.ActionLink("A", "Index", new { type = "A" }) |
	@Html.ActionLink("B", "Index", new { type = "B" }) |
	@Html.ActionLink("C", "Index", new { type = "C" }) |
	@Html.ActionLink("D", "Index", new { type = "D" }) |
	@Html.ActionLink("E", "Index", new { type = "E" }) |
	@Html.ActionLink("F", "Index", new { type = "F" })
</p>

<div class="webgrid-wrapper">
	<div class="webgrid-title"></div>
	<div id="grid">
		@grid.GetHtml( 
			tableStyle: "grid", 
			headerStyle: "head", 
			alternatingRowStyle: "alt",
			footerStyle: "footer",
			columns: grid.Columns(
				grid.Column("Standard", "Standard", style: "product"),
				grid.Column("Reserved", "Reserved", style: "product"),
				grid.Column("Unusable", "Unusable", style: "product"),
				grid.Column("Context", "Context", style: "product"),
				grid.Column("Type", "Type", style: "product"),
				grid.Column("Value", "Value", style: "product"),
				grid.Column("Description", "Description", style: "product"),
				grid.Column("ID", "", @<text>@Html.ActionLink("Edit", "Edit", new { id=item.ID })</text>, style: "product", canSort: false),
				grid.Column("ID", "", @<text>@Html.ActionLink("Details", "Details", new { id=item.ID })</text>, style: "product", canSort: false),
				grid.Column("ID", "", @<text>@Html.ActionLink("Delete", "Delete", new { id=item.ID })</text>, style: "product", canSort: false)
			),
			numericLinksCount: 20
		)
	</div>
</div>
