@model web.Models.ViewCOSEMAttributeDataType

@{
	ViewBag.Title = "Edit COSEM attribute identifier";
	Layout = "~/Views/Shared/_LayoutModeling.cshtml";
}

<h2>Edit COSEM attribute identifier</h2>

<p>
	@Html.ActionLink("Attributes", "Attributes", new { id = Model.COSEMObjectID })
</p>

@using (Html.BeginForm()) 
{
	@Html.ValidationSummary(true)
	<fieldset>
		<legend>COSEM attribute identifier</legend>

		@Html.HiddenFor(model => model.AttributeID)
		@Html.HiddenFor(model => model.COSEMObjectID)

		<table style="width:100%;">
			<tr>
				<td style="border: 0 hidden;">
					<div class="display-label">Device type</div>
				</td>
				<td style="border: 0 hidden;">
					<div class="display-field">
						@Html.Raw(ViewBag.DeviceTypeName)
					</div>
				</td>
			</tr>

			<tr>
				<td style="border: 0 hidden;">
					<div class="display-label">Object name</div>
				</td>
				<td style="border: 0 hidden;">
					<div class="display-field">
						@Html.Raw(ViewBag.COSEMObjectName)
					</div>
				</td>
			</tr>

			<tr>
				<td style="border: 0 hidden;">
					<div class="display-label">Attribute name</div>
				</td>
				<td style="border: 0 hidden;">
					<div class="display-field">
						@Html.Raw(Model.Name)
					</div>
				</td>
			</tr>

			<tr>
				<td style="border: 0 hidden;">
					<div class="editor-label">
						@Html.LabelFor(model => model.Identifier, "Identifier")
					</div>
				</td>
				<td style="border: 0 hidden;">
					<div class="editor-field">
						@Html.TextBoxFor(model => model.Identifier)
						@Html.ValidationMessageFor(model => model.Identifier)
					</div>
				</td>
			</tr>
		</table>
	</fieldset>
	<p>
		<input type="submit" value="Assign" />
	</p>
}
