@model web.Models.ViewDeviceOwner

@{
	ViewBag.Title = "Edit meter owner personal data";
	Layout = "~/Views/Shared/_LayoutAcquisition.cshtml";
}

<h2>@Html.Raw(ViewBag.Title)</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<p>
	@Html.ActionLink("Owners", "Index")
</p>

@using (Html.BeginForm()) {
	@Html.ValidationSummary(true)
	<fieldset>
		<legend>Owner personal data</legend>

		@Html.HiddenFor(model => model.ID)

		<table style="width:100%;">
			<tr>
				<td style="border: 0 hidden;">
					<div class="editor-label">
						@Html.LabelFor(model => model.FirstName, "First Name")
					</div>
					<div class="editor-field">
						@Html.EditorFor(model => model.FirstName)
						@Html.ValidationMessageFor(model => model.FirstName)
					</div>
				</td>

				<td style="border: 0 hidden;">
					<div class="editor-label">
						@Html.LabelFor(model => model.LastName, "Last Name")
					</div>
					<div class="editor-field">
						@Html.EditorFor(model => model.LastName)
						@Html.ValidationMessageFor(model => model.LastName)
					</div>
				</td>

				<td style="border: 0 hidden;">
					<div class="editor-label">
						@Html.LabelFor(model => model.Company)
					</div>
					<div class="editor-field">
						@Html.EditorFor(model => model.Company)
						@Html.ValidationMessageFor(model => model.Company)
					</div>
				</td>
			</tr>

			<tr>
				<td style="border: 0 hidden;">
					<div class="editor-label">
						@Html.LabelFor(model => model.EMail, "E-Mail")
					</div>
					<div class="editor-field">
						@Html.EditorFor(model => model.EMail)
						@Html.ValidationMessageFor(model => model.EMail)
					</div>
				</td>

				<td style="border: 0 hidden;">
					<div class="editor-label">
						@Html.LabelFor(model => model.Phone)
					</div>
					<div class="editor-field">
						@Html.EditorFor(model => model.Phone)
						@Html.ValidationMessageFor(model => model.Phone)
					</div>
				</td>

				<td style="border: 0 hidden;">
					<div class="editor-label">
						@Html.LabelFor(model => model.Cell)
					</div>
					<div class="editor-field">
						@Html.EditorFor(model => model.Cell)
						@Html.ValidationMessageFor(model => model.Cell)
					</div>
				</td>
			</tr>
		</table>
	</fieldset>                

	<fieldset>    
		<legend>Owner address</legend>
		<table style="width:100%;">
			<tr>
				<td style="border: 0 hidden;">
					<div class="editor-label">
						@Html.LabelFor(model => model.Apartament, "Apartment/Office")
					</div>
					<div class="editor-field">
						@Html.EditorFor(model => model.Apartament)
						@Html.ValidationMessageFor(model => model.Apartament)
					</div>
				</td>

				<td style="border: 0 hidden;">
					<div class="editor-label">
						@Html.LabelFor(model => model.Building)
					</div>
					<div class="editor-field">
						@Html.EditorFor(model => model.Building)
						@Html.ValidationMessageFor(model => model.Building)
					</div>
				</td>

				<td style="border: 0 hidden;">
					<div class="editor-label">
						@Html.LabelFor(model => model.Street)
					</div>
					<div class="editor-field">
						@Html.EditorFor(model => model.Street)
						@Html.ValidationMessageFor(model => model.Street)
					</div>
				</td>
			</tr>

			<tr>
				<td style="border: 0 hidden;">
					<div class="editor-label">
						@Html.LabelFor(model => model.City)
					</div>
					<div class="editor-field">
						@Html.EditorFor(model => model.City)
						@Html.ValidationMessageFor(model => model.City)
					</div>
				</td>

				<td style="border: 0 hidden;">
					<div class="editor-label">
						@Html.LabelFor(model => model.State)
					</div>
					<div class="editor-field">
						@Html.EditorFor(model => model.State)
						@Html.ValidationMessageFor(model => model.State)
					</div>
				</td>

				<td style="border: 0 hidden;">
					<div class="editor-label">
						@Html.LabelFor(model => model.Country)
					</div>
					<div class="editor-field">
						@Html.EditorFor(model => model.Country)
						@Html.ValidationMessageFor(model => model.Country)
					</div>
				</td>
			</tr>

			<tr>
				<td style="border: 0 hidden;" colspan="3">
					<div class="editor-label">
						@Html.LabelFor(model => model.ZipCode, "Zip Code")
					</div>
					<div class="editor-field">
						@Html.EditorFor(model => model.ZipCode)
						@Html.ValidationMessageFor(model => model.ZipCode)
					</div>
				</td>
			</tr>
		</table>
	</fieldset>
	<p>
		<input type="submit" value="Save" />
	</p>
}
