@model web.Models.ViewCOSEMLogicalDevice

@{
	ViewBag.Title = "New COSEM logical device for \"" + ViewBag.DeviceTypeName + "\"";
	Layout = "~/Views/Shared/_LayoutModeling.cshtml";
}

<h2>@Html.Raw(ViewBag.Title)</h2>

<p>
	@Html.ActionLink("Logical Devices", (String)("Index/" + ViewBag.DeviceTypeID.ToString()))
</p>

@using (Html.BeginForm()) {
	@Html.ValidationSummary(true)

	<fieldset>
		<legend>COSEM logical device properties</legend>

		<div class="editor-label">
			@Html.LabelFor(model => model.Name, "Name")
		</div>

		<div class="editor-field">
			@Html.EditorFor(model => model.Name)
			@Html.ValidationMessageFor(model => model.Name)
		</div>
	</fieldset>
	
	<p>
		<input type="submit" value="Create" />
	</p>
}
