@using System.Globalization
@model web.Models.ViewCOSEMComplexTypeField

@{
	ViewBag.Title = "New complex COSEM type field";
	Layout = "~/Views/Shared/_LayoutModeling.cshtml";
}

<h2>@Html.Raw(ViewBag.Title)</h2>

<p>
	@Html.ActionLink("Fields", "Index/" + ((Int64)(ViewBag.AggregateTypeID)).ToString(CultureInfo.InvariantCulture))
</p>

@using (Html.BeginForm()) {
	@Html.ValidationSummary(true)
	<fieldset>
		<legend>Compex COSEM type field properties</legend>

		<table style="width:100%;">
			<tr>
				<td style="border: 0 hidden;">
					<div class="editor-label">
						@Html.LabelFor(model => model.Name, "Field name")
					</div>
				</td>
				<td style="border: 0 hidden;">
					<div class="editor-field">
						@Html.EditorFor(model => model.Name)
						@Html.ValidationMessageFor(model => model.Name)
					</div>
				</td>
			</tr>

			<tr>
				<td style="border: 0 hidden;">
					<div class="editor-label">
						@Html.LabelFor(model => model.AggregateTypeID, "Aggregate type name")
					</div>
				</td>
				<td style="border: 0 hidden;">
					<div class="editor-field">
						@Html.DropDownList("AggregateTypeIDs")
						@Html.ValidationMessageFor(model => model.AggregateTypeID)
					</div>
				</td>
			</tr>

			<tr>
				<td style="border: 0 hidden;">
					<div class="editor-label">
						@Html.LabelFor(model => model.TypeID, "Field COSEM type")
					</div>
				</td>
				<td style="border: 0 hidden;">
					<div class="editor-field">
						@Html.DropDownList("TypeIDs")
						@Html.ValidationMessageFor(model => model.TypeID)
					</div>
				</td>
			</tr>

			<tr>
				<td style="border: 0 hidden;">
					<div class="editor-label">
						@Html.LabelFor(model => model.Standard, "Standard")
					</div>
				</td>
				<td style="border: 0 hidden;">
					<div class="editor-field">
						@Html.CheckBoxFor(model => model.Standard)
						@Html.ValidationMessageFor(model => model.Standard)
					</div>
				</td>
			</tr>
		</table>
	</fieldset>
	<p>
		<input type="submit" value="Create" />
	</p>
}
