@model web.Models.ViewGroup

@{
    ViewBag.Title = "Details of meter group";
    Layout = "~/Views/Shared/_LayoutAcquisition.cshtml";
}

<h2>@Html.Raw(ViewBag.Title)</h2>

<p>
    @if (Model != null)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID })
    }
    @Html.ActionLink("Meter Groups", "Index")
</p>

<fieldset>
    <legend>Meter group properties</legend>

    <table style="width:100%;">
        <tr>
            <td style="border: 0 hidden;">
                <div class="display-label">Group name</div>
            </td>
            <td style="border: 0 hidden;">
                <div class="display-field">
                    @if (Model != null)
                    {
                        @Html.DisplayFor(model => model.Name)
                    }
                </div>
            </td>
        </tr>

        <tr>
            <td style="border: 0 hidden;">
                <div class="display-label">Meter type</div>
            </td>
            <td style="border: 0 hidden;">
                <div class="display-field">
                    @if (Model != null)
                    {
                        @Html.DisplayFor(model => model.DeviceType)
                    }
                </div>
            </td>
        </tr>
    </table>
</fieldset>
