@model web.Models.ViewGroup

@{
	ViewBag.Title = "Details of meter group";
	Layout = "~/Views/Shared/_LayoutAcquisition.cshtml";
}

<h2>@Html.Raw(ViewBag.Title)</h2>

<p>
	@if (Model != null)
	{
		@Html.ActionLink("Edit", "Edit", new {id = Model.ID})
	}
	@Html.ActionLink("Meter Groups", "Index")
</p>

<fieldset>
	<legend>Meter group properties</legend>

	<table style="width: 100%;">
		<tr>
			<td style="border: 0 hidden;">
				<div class="display-label">Group name</div>
			</td>
			<td style="border: 0 hidden;">
				<div class="display-field">
					@if (Model != null)
					{
						@Html.DisplayFor(model => model.Name)
					}
				</div>
			</td>
		</tr>

		<tr>
			<td style="border: 0 hidden;">
				<div class="display-label">Meter type</div>
			</td>
			<td style="border: 0 hidden;">
				<div class="display-field">
					@if (Model != null)
					{
						@Html.DisplayFor(model => model.DeviceType)
					}
				</div>
			</td>
		</tr>
	</table>
</fieldset>

<fieldset>
	<legend>Acquisition schedule</legend>
	<table style="width: 100%;">
		<tr>
			<td style="border: 0 hidden;">
				<fieldset>
					<legend>Minutes</legend>
					@if (Model != null)
					{
						if (Model.MinMode == null)
						{
							@Html.Raw("Minute mode not defined")
						}
						else if (Model.MinMode.TrimEnd(new[] {' '}) == "ENM")
						{
							var sl = (SelectList) ViewData["MinutesE"];
							@Html.Raw("Every " + sl.SelectedValue + " minute")
						}
						else if (Model.MinMode.TrimEnd(new[] {' '}) == "AGM")
						{
							var sl = (SelectList) ViewData["MinutesG"];
							@Html.Raw("At " + sl.SelectedValue + "-th minute")
						}
					}
				</fieldset>
			</td>
			<td style="border: 0 hidden;">
				<fieldset>
					<legend>Hours</legend>
					@if (Model != null)
					{
						if (Model.HourMode == null)
						{
							@Html.Raw("Hour mode not defined")
						}
						else if (Model.HourMode.TrimEnd(new[] {' '}) == "ENH")
						{
							var sl = (SelectList) ViewData["HoursE"];
							@Html.Raw("Every " + sl.SelectedValue + " hour")
						}
						else if (Model.HourMode.TrimEnd(new[] {' '}) == "AGH")
						{
							var sl = (SelectList) ViewData["HoursG"];
							@Html.Raw("At " + sl.SelectedValue + "-th hour")
						}
					}
				</fieldset>
			</td>
			<td style="border: 0 hidden;">
				<fieldset>
					<legend>Days</legend>

					@if (Model != null)
					{
						if (Model.DayMode == null)
						{
							@Html.Raw("Day mode not defined")
						}
						else if (Model.DayMode.TrimEnd(new[] {' '}) == "END")
						{
							var sl = (SelectList) ViewData["DaysE"];
							@Html.Raw("Every " + sl.SelectedValue + " day")
						}
						else if (Model.DayMode.TrimEnd(new[] {' '}) == "AGD")
						{
							var sl = (SelectList) ViewData["DaysG"];
							@Html.Raw("At " + sl.SelectedValue + "-th day")
						}
						else if (Model.DayMode.TrimEnd(new[] {' '}) == "AGDW")
						{
							@Html.Raw("Every ")
							@Html.DisplayFor(model => model.Monday)
							@Html.Raw("Mo")
							@Html.DisplayFor(model => model.Tuesday)
							@Html.Raw("Tu")
							@Html.DisplayFor(model => model.Wednesday)
							@Html.Raw("We")
							@Html.DisplayFor(model => model.Thursday)
							@Html.Raw("Th")
							@Html.DisplayFor(model => model.Friday)
							@Html.Raw("Fr")
							@Html.DisplayFor(model => model.Saturday)
							@Html.Raw("Sa")
							@Html.DisplayFor(model => model.Sunday)
							@Html.Raw("Su")
						}
					}
				</fieldset>
			</td>
			<td style="border: 0 hidden;">
				<fieldset>
					<legend>Weeks</legend>

					@if (Model != null)
					{
						if (Model.WeekMode == null)
						{
							@Html.Raw("Week mode not defined")
						}
						else if (Model.WeekMode.TrimEnd(new[] {' '}) == "EW")
						{
							@Html.Raw("Weekly")
						}
						else if (Model.WeekMode.TrimEnd(new[] {' '}) == "AGW")
						{
							var sl = (SelectList) ViewData["WeeksG"];
							@Html.Raw("At every " + sl.SelectedValue + "-th week of month")
						}
					}
				</fieldset>
			</td>
		</tr>
	</table>
</fieldset>