@model web.Models.ViewGroup

@{
	ViewBag.Title = "Edit meter properties";
	Layout = "~/Views/Shared/_LayoutAcquisition.cshtml";
}

<h2>@Html.Raw(ViewBag.Title)</h2>

<p>
	@Html.ActionLink("Meter Groups", "Index")
</p>

@using (Html.BeginForm())
{
	@Html.ValidationSummary(true)
	<fieldset>
		<legend>Meter properties</legend>

		@if (Model != null)
		{
			@Html.HiddenFor(model => model.ID)
		}
		@if (Model != null)
		{
			@Html.HiddenFor(model => model.DeviceNamePrefix)
		}

		<table style="width:100%;">
			<tr>
				<td style="border: 0 hidden;">
					<div class="editor-label">
						@if (Model != null)
						{
							@Html.LabelFor(model => model.Name, "Group name")
						}
					</div>
				</td>
				<td style="border: 0 hidden;">
					<div class="editor-field">
						@if (Model != null)
						{ 
							@Html.EditorFor(model => model.Name)
							@Html.ValidationMessageFor(model => model.Name)
						}
					</div>
				</td>
			</tr>

			<tr>
				<td style="border: 0 hidden;">
					<div class="editor-label">
						@if (Model != null)
						{
							@Html.LabelFor(model => model.DeviceTypeID, "Meter type")
						}
					</div>
				</td>
				<td style="border: 0 hidden;">
					<div class="editor-field">
						@Html.DropDownList("DeviceTypeID")
						@if (Model != null)
						{
							@Html.ValidationMessageFor(model => model.DeviceTypeID)
						}
					</div>
				</td>
			</tr>
		</table>
	</fieldset>
	
	<fieldset>
		<legend>Acquisition schedule</legend>
		<table style="width:100%;">
			<tr>
				<td style="border: 0 hidden;">
					<fieldset>
						<legend>Minutes</legend>

						<table>
							<tr>
								<td style="border: 0 hidden;">@Html.RadioButton("MinMode", "ENM", ((Model != null) && (Model.MinMode != null)) && Model.MinMode.TrimEnd(new[] {' '}) == "ENM")Every</td>
								<td style="border: 0 hidden;">@Html.DropDownList("MinutesE") minute</td>
							</tr>
							<tr>
								<td style="border: 0 hidden;">@Html.RadioButton("MinMode", "AGM", ((Model != null) && (Model.MinMode != null)) && Model.MinMode.TrimEnd(new[] {' '}) == "AGM")At</td>
								<td style="border: 0 hidden;">@Html.DropDownList("MinutesG") th minute</td>
							</tr>
						</table>
					</fieldset>
				</td>
				<td style="border: 0 hidden;">
					<fieldset>
						<legend>Hours</legend>

						<table>
							<tr>
								<td style="border: 0 hidden;">@Html.RadioButton("HourMode", "ENH", ((Model != null) && (Model.HourMode != null)) && Model.HourMode.TrimEnd(new[] {' '}) == "ENH")Every</td>
								<td style="border: 0 hidden;">@Html.DropDownList("HoursE") hour</td>
							</tr>
							<tr>
								<td style="border: 0 hidden;">@Html.RadioButton("HourMode", "AGH", ((Model != null) && (Model.HourMode != null)) && Model.HourMode.TrimEnd(new[] {' '}) == "AGH")At</td>
								<td style="border: 0 hidden;">@Html.DropDownList("HoursG") th hour</td>
							</tr>
						</table>
					</fieldset>
				</td>
				<td style="border: 0 hidden;">
					<fieldset>
						<legend>Days</legend>

						<table>
							<tr>
								<td style="border: 0 hidden;">@Html.RadioButton("DayMode", "END", ((Model != null) && (Model.DayMode != null)) && Model.DayMode.TrimEnd(new[] {' '}) == "END")Every</td>
								<td style="border: 0 hidden;">@Html.DropDownList("DaysE") day</td>
							</tr>
							<tr>
								<td style="border: 0 hidden;">@Html.RadioButton("DayMode", "AGD", ((Model != null) && (Model.DayMode != null)) && Model.DayMode.TrimEnd(new[] { ' ' }) == "AGD")At</td>
								<td style="border: 0 hidden;">@Html.DropDownList("DaysG") th day</td>
							</tr>
							<tr>
								<td style="border: 0 hidden;">@Html.RadioButton("DayMode", "AGDW", ((Model != null) && (Model.DayMode != null)) && Model.DayMode.TrimEnd(new[] { ' ' }) == "AGDW")Every</td>
								<td style="border: 0 hidden;">
									@Html.CheckBox("Monday", Model != null && Model.Monday) Mo 
									@Html.CheckBox("Tuesday", Model != null && Model.Tuesday) Tu 
									@Html.CheckBox("Wednesday", Model != null && Model.Wednesday) We
									@Html.CheckBox("Thursday", Model != null && Model.Thursday) Th 
									@Html.CheckBox("Friday", Model != null && Model.Friday) Fr 
									@Html.CheckBox("Saturday", Model != null && Model.Saturday) Sa 
									@Html.CheckBox("Sunday", Model != null && Model.Sunday) Su 
								</td>
							</tr>
						</table>
					</fieldset>
				</td>
				<td style="border: 0 hidden;">
					<fieldset>
						<legend>Weeks</legend>

						<table>
							<tr>
								<td style="border: 0 hidden;">@Html.RadioButton("WeekMode", "EW", ((Model != null) && (Model.WeekMode != null)) && Model.WeekMode.TrimEnd(new[]{' '}) == "EW")Weekly</td>
								<td style="border: 0 hidden;"></td>
							</tr>
							<tr>
								<td style="border: 0 hidden;">@Html.RadioButton("WeekMode", "AGW", ((Model != null) && (Model.WeekMode != null)) && Model.WeekMode.TrimEnd(new[] { ' ' }) == "AGW")At</td>
								<td style="border: 0 hidden;">@Html.DropDownList("WeeksG") th week of month</td>
							</tr>
						</table>
					</fieldset>
				</td>
			</tr>
		</table>
	</fieldset>

	<p>
		<input type="submit" value="Save" />
	</p>
}
