@model web.Models.ViewChart

@{
	ViewBag.Title = "Delete chart";
	Layout = "~/Views/Shared/_LayoutRepresentation.cshtml";
}

<h2>@Html.Raw((string)ViewBag.Title + " \"" + Model.Name.TrimEnd() + "\"")</h2>
<h3>@Html.Raw("Are you sure you want to delete chart"  + " \"" + Model.Name.TrimEnd() + "\"?")</h3>

<p>
@Html.ActionLink("Charts & Diagrams", "Index")
</p>

<fieldset>
	<legend>Chart properties</legend>

	<table style="width:100%;">
		<tr>
			<td style="border: 0 hidden;">
				<div class="display-label">Title</div>
			</td>
			<td style="border: 0 hidden;">
				<div class="display-field">
					@Html.DisplayFor(model => model.Name)
				</div>
			</td>
		</tr>

		<tr>
			<td style="border: 0 hidden;">
				<div class="display-label">Chart width (pixels)</div>
			</td>
			<td style="border: 0 hidden;">
				<div class="display-field">
					@Html.DisplayFor(model => model.Width)
				</div>
			</td>
		</tr>

		<tr>
			<td style="border: 0 hidden;">
				<div class="display-label">Chart height (pixels)</div>
			</td>
			<td style="border: 0 hidden;">
				<div class="display-field">
					@Html.DisplayFor(model => model.Height)
				</div>
			</td>
		</tr>
	</table>
</fieldset>

@using (Html.BeginForm()) {
	<p>
		<input type="submit" value="Delete" />
	</p>
}
