@model IEnumerable<web.Models.ViewChartSetsCharts>

@{
	ViewBag.Title = "Charts of set \"" + ((String)ViewBag.ChartSetName).TrimEnd() + "\"";
	Layout = "~/Views/Shared/_LayoutRepresentation.cshtml";

	var grid = new WebGrid(Model,
						   defaultSort: "ChartName",
						   rowsPerPage: 20);
}

<h2>@Html.Raw(ViewBag.Title)</h2>

<p>
	@Html.ActionLink("Edit Chart Set", "Edit", "ChartSet", new { id = (Int64)ViewBag.ChartSetID }, null)
</p>

<div class="webgrid-wrapper">
	<div class="webgrid-title"></div>
	<div id="grid">
		@grid.GetHtml(
			tableStyle: "grid",
			headerStyle: "head",
			alternatingRowStyle: "alt",
			footerStyle: "footer",
			columns: grid.Columns(
				grid.Column("ChartName", "Chart Name", style: "product"),
				grid.Column("ColIndex", "Col Index", @<text>@Html.Raw(item.ColIndex == null ? "Undefined" : item.ColIndex.ToString())</text>, style: "product"),
				grid.Column("RowIndex", "Row Index", @<text>@Html.Raw(item.RowIndex == null ? "Undefined" : item.RowIndex.ToString())</text>, style: "product"),
				grid.Column("ChartSetID", "In Chart Set", @<text>
					@if (null == item.ChartSetID)
					{
						<span class="ui-icon ui-state-highlight ui-icon-closethick" title="Not in set"></span>
					}
					else
					{ 
						<span class="ui-icon ui-state-highlight ui-icon-check" title="In set"></span>
					}
@* ReSharper disable Html.TagNotResolved *@
					</text>, style: "product"),
					grid.Column("ID", "", @<text>@(item.ChartSetID != null ? Html.ActionLink("Edit", "Edit", new {id = item.ChartSetID, chartID = item.ChartID}) : Html.Raw(""))</text>, style: "product", canSort: false),
					grid.Column("ID", "", @<text>@(item.ChartSetID != null ? Html.ActionLink("Details", "Details", new {id = item.ChartSetID, chartID = item.ChartID}) : Html.Raw(""))</text>, style: "product", canSort: false),
					grid.Column("ID", "", @<text>@Html.Raw("<form method=\"post\" action=\"" + Url.Action("AddChart", "ChartSetCharts", new { chartsetid = ViewBag.ChartSetID, chartid = item.ChartID, colindex = item.ColIndex, rowindex = item.RowIndex }) + "\"><input type=\"submit\" value=\"Add\" /></form>")</text>, style: "product", canSort: false),
					grid.Column("ID", "", @<text>@Html.Raw("<form method=\"post\" action=\"" + Url.Action("DeleteChart", "ChartSetCharts", new { id = ViewBag.ChartSetID, chartid = item.ChartID }) + "\"><input type=\"submit\" value=\"Delete\" /></form>")</text>, style: "product", canSort: false)
			),
			numericLinksCount: 20
		)
@* ReSharper restore Html.TagNotResolved *@
	</div>
</div>
