@model IEnumerable<web.Models.ViewChart>

@using web.Controllers;

@{
	ViewBag.Title = "Charts & Diagrams";
	Layout = "~/Views/Shared/_LayoutRepresentation.cshtml";

	var grid = new WebGrid(Model,
						   defaultSort: "ID",
						   rowsPerPage: 20); 
}

<h2>@Html.Raw(ViewBag.Title)</h2>

<p>
	@Html.ActionLink("New Chart", "Create")
	@Html.Raw(" | ")
	@Html.ActionLink("New Diagram", "CreateDiagram")
	@Html.Raw(" | ")
	@Html.ActionLink("Chart Sets", "Index", "ChartSet")
</p>

<div class="webgrid-wrapper">
	<div class="webgrid-title"></div>
	<div id="grid">
		@grid.GetHtml(
			tableStyle: "grid",
			headerStyle: "head",
			alternatingRowStyle: "alt",
			footerStyle: "footer",
			columns: grid.Columns(
				grid.Column("Name", "Title", style: "product"),
				grid.Column("Width", "Cell Width", style: "product"),
				grid.Column("Height", "Cell Height", style: "product"),
				grid.Column("ID", "", @<text>@Html.ActionLink("View", "ShowChart", new { id = item.ID })</text>, style: "product", canSort: false),
				grid.Column("ID", "", @<text>@(item.ChartType.ToLower() == ProjectChartController.Diagram.ToLower() ? Html.ActionLink("Dataset", "ShowDiagramDataSet", new {id = item.ID}) : Html.ActionLink("Dataset", "DataSet", new {id = item.ID}))</text>, style: "product", canSort: false),
				grid.Column("ID", "", @<text>@Html.ActionLink("Edit", "Edit", new { id = item.ID })</text>, style: "product", canSort: false),
				grid.Column("ID", "", @<text>@Html.ActionLink("Details", "Details", new { id = item.ID })</text>, style: "product", canSort: false),
				grid.Column("ID", "", @<text>@Html.ActionLink("Delete", "Delete", new { id = item.ID })</text>, style: "product", canSort: false)
			),
			numericLinksCount: 20
		)
	</div>
</div>
