@model web.Models.ViewOBISSet

@{
	ViewBag.Title = "New OBIS code";
	Layout = "~/Views/Shared/_LayoutModeling.cshtml";
}

<h2>@Html.Raw(ViewBag.Title)</h2>

<p>
	@Html.ActionLink("OBIS Sets", "Index")
</p>

@using (Html.BeginForm()) {
	@Html.ValidationSummary(true)
	<fieldset>
		<legend>OBIS code structure</legend>

		<table>
			<tr>
				<td style="border: 0 hidden;">
					<div class="editor-label">
						@Html.LabelFor(model => model.DeviceTypeName, "Device type")
					</div>
				</td>
				<td style="border: 0 hidden;">
					<div class="editor-field">
						@Html.DropDownList("DeviceTypeID")
						@Html.ValidationMessageFor(model => model.DeviceTypeID)
					</div>
				</td>
			</tr>

			<tr>
				<td style="border: 0 hidden;">
					@Html.LabelFor(model => model.Standard, "Standard")
				</td>
				<td style="border: 0 hidden;">
					@Html.CheckBoxFor(model => model.Standard)
					@Html.ValidationMessageFor(model => model.Standard)
				</td>
			</tr>
		</table>

		<fieldset>
			<legend>Code combination</legend>

			<table>
				<tr>
					<td style="border: 0 hidden;">
						<div class="editor-label">
							@Html.LabelFor(model => model.AID, "A")
						</div>
					</td>
					<td style="border: 0 hidden;">
						<div class="editor-field">
							@Html.DropDownList("AID")
							@Html.ValidationMessageFor(model => model.AID)
						</div>
					</td>
					<td style="border: 0 hidden;">
						<div class="editor-label">
							@Html.LabelFor(model => model.BID, "B")
						</div>
					</td>
					<td style="border: 0 hidden;">
						<div class="editor-field">
							@Html.DropDownList("BID")
							@Html.ValidationMessageFor(model => model.BID)
						</div>
					</td>
					<td style="border: 0 hidden;">
						<div class="editor-label">
							@Html.LabelFor(model => model.CID, "C")
						</div>
					</td>
					<td style="border: 0 hidden;">
						<div class="editor-field">
							@Html.DropDownList("CID")
							@Html.ValidationMessageFor(model => model.CID)
						</div>
					</td>
					<td style="border: 0 hidden;">
						<div class="editor-label">
							@Html.LabelFor(model => model.DID, "D")
						</div>
					</td>
					<td style="border: 0 hidden;">
						<div class="editor-field">
							@Html.DropDownList("DID")
							@Html.ValidationMessageFor(model => model.DID)
						</div>
					</td>
					<td style="border: 0 hidden;">
						<div class="editor-label">
							@Html.LabelFor(model => model.EID, "E")
						</div>
					</td>
					<td style="border: 0 hidden;">
						<div class="editor-field">
							@Html.DropDownList("EID")
							@Html.ValidationMessageFor(model => model.EID)
						</div>
					</td>
					<td style="border: 0 hidden;">
						<div class="editor-label">
							@Html.LabelFor(model => model.FID, "F")
						</div>
					</td>
					<td style="border: 0 hidden;">
						<div class="editor-field">
							@Html.DropDownList("FID")
							@Html.ValidationMessageFor(model => model.FID)
						</div>
					</td>
				</tr>
			</table>
		</fieldset>

		<fieldset>
			<legend>Code description</legend>

			<div class="editor-label">
				@Html.LabelFor(model => model.AID, "A:")
			</div>
			<div class="editor-label">
				@Html.LabelFor(model => model.BID, "B:")
			</div>
			<div class="editor-label">
				@Html.LabelFor(model => model.CID, "C:")
			</div>
			<div class="editor-label">
				@Html.LabelFor(model => model.DID, "D:")
			</div>
			<div class="editor-label">
				@Html.LabelFor(model => model.EID, "E:")
			</div>
			<div class="editor-label">
				@Html.LabelFor(model => model.FID, "F:")
			</div>

		</fieldset>

	</fieldset>
	<p>
		<input type="submit" value="Create" />
	</p>
}
