@using System.Globalization
@model IEnumerable<web.Models.ViewCOSEMMethod>

@{
	ViewBag.Title = "Method list of class \"" + (String)ViewBag.COSEMClassName + "\"";
	Layout = "~/Views/Shared/_LayoutModeling.cshtml";

	var grid = new WebGrid(Model,
						   defaultSort: "COSEMClassName",
						   rowsPerPage: 20); 
}

<h2>@Html.Raw(ViewBag.Title)</h2>

<p>
	@Html.ActionLink("New", "Create/" + ((Int64)(ViewBag.COSEMClassID)).ToString(CultureInfo.InvariantCulture)) |
	@Html.ActionLink("Classes", "Index", "CosemClass") |
	@Html.ActionLink("Attributes", "Index", "CosemAttribute", new { id = (Int64)ViewBag.COSEMClassID }, null)
</p>

<div class="webgrid-wrapper">
	<div class="webgrid-title"></div>
	<div id="grid">
		@grid.GetHtml(
			tableStyle: "grid",
			headerStyle: "head",
			alternatingRowStyle: "alt",
			footerStyle: "footer",
			columns: grid.Columns(
				grid.Column("Name", "Method", style: "product"),
				grid.Column("Mandatory", "Mandatory", style: "product"),
				grid.Column("Standard", "Standard", style: "product"),
				grid.Column("ID", "", @<text>@Html.ActionLink("Edit", "Edit", new { id = item.ID })</text>, style: "product", canSort: false),
				grid.Column("ID", "", @<text>@Html.ActionLink("Details", "Details", new { id = item.ID })</text>, style: "product", canSort: false),
				grid.Column("ID", "", @<text>@Html.ActionLink("Delete", "Delete", new { id = item.ID })</text>, style: "product", canSort: false)
			),
			numericLinksCount: 20
		)
	</div>
</div>
