@model IEnumerable<web.Models.ViewCOSEMObject>

@{
	ViewBag.Title = "COSEM objects of logical device \"" + ViewBag.LogicalDeviceID.ToString() + "\"" + " of " + "\""  + ViewBag.DeviceName + "\"";
	Layout = "~/Views/Shared/_LayoutModeling.cshtml";

	var grid = new WebGrid(Model,
						   defaultSort: "ID",
						   rowsPerPage: 20);
}

<h2>COSEM objects associated with logical device "@Html.Raw(ViewBag.LogicalDeviceID.ToString())" of "@Html.Raw(ViewBag.DeviceName)" ("@Html.Raw(ViewBag.DeviceTypeName)")</h2>

<p>
	@Html.ActionLink("Logical Devices", (String)("Index/" + ViewBag.DeviceID.ToString()), "DeviceLogicalDevice")
</p>

<div class="webgrid-wrapper">
	<div class="webgrid-title"></div>
	<div> 
		@grid.GetHtml(
			tableStyle: "grid",
			headerStyle: "head",
			alternatingRowStyle: "alt",
			footerStyle: "footer",
			columns: grid.Columns(
				grid.Column("COSEMLogicalName", "Object", style: "product"),
				grid.Column("COSEMClassName", "Class", style: "product"),
				grid.Column("ID", "", @<text>@Html.ActionLink("Attributes", "Index", "DeviceAttribute", new { id=item.ID, deviceid=(long)ViewBag.DeviceID, logicaldeviceid=(long)ViewBag.LogicalDeviceID }, null)</text>, style: "product", canSort: false),
				grid.Column("ID", "", @<text>@Html.Raw("<form method=\"post\" action=\"" + Url.Action("AddObjectAttrToCollectList", "DeviceObject", new { id = item.ID, deviceid = (long)ViewBag.DeviceID,  logicaldeviceid = (long)ViewBag.LogicalDeviceID }) + "\"><input type=\"submit\" value=\"Add\" /></form>")</text>, style: "product", canSort: false),
				grid.Column("ID", "", @<text>@Html.Raw("<form method=\"post\" action=\"" + Url.Action("DeleteObjectAttrFromCollectList", "DeviceObject", new { id = item.ID, deviceid = (long)ViewBag.DeviceID,  logicaldeviceid = (long)ViewBag.LogicalDeviceID }) + "\"><input type=\"submit\" value=\"Delete\" /></form>")</text>, style: "product", canSort: false)
			),
			numericLinksCount: 20)
	</div>
</div>

<div style="margin-left:13.5em; margin-top:0.5em;">
	<div style="display: inline-block; list-style: none; text-align:right;">
		@using (Html.BeginForm((String)("AddAllObjectAttrToCollectList/" + ViewBag.DeviceID.ToString()), "DeviceObject"))
		{
			@Html.Hidden("LogicalDeviceID", (long)ViewBag.LogicalDeviceID)
			<input type="submit" value="Add All" />
		}
	</div>
	<div style="display: inline-block; list-style: none; text-align:right;">
		@using (Html.BeginForm((String)("DeleteAllObjectAttrFromCollectList/" + ViewBag.DeviceID.ToString()), "DeviceObject"))
		{
			@Html.Hidden("LogicalDeviceID", (long)ViewBag.LogicalDeviceID)
			<input type="submit" value="Delete All" />
		}
	</div>
</div>
