@using System.Globalization
@model web.Models.ViewCOSEMAttribute

@{
	ViewBag.Title = "Delete the COSEM attribute";
	Layout = "~/Views/Shared/_LayoutModeling.cshtml";
}

<h2>Delete the COSEM attribute</h2>

<p>
	@Html.ActionLink("Attributes", "Index/" + ((Int64)(ViewBag.COSEMClassID)).ToString(CultureInfo.InvariantCulture))
</p>

<h3>Are you sure you want to delete this COSEM attribute?</h3>
<fieldset>
	<legend>COSEM attribute properties</legend>

	<table style="width:100%;">
		<tr>
			<td style="border: 0 hidden;">
				<div class="display-label">COSEM class</div>
			</td>
			<td style="border: 0 hidden;">
				<div class="display-field">
					@Html.DisplayFor(model => model.COSEMClassName)
				</div>
			</td>
		</tr>

		<tr>
			<td style="border: 0 hidden;">
				<div class="display-label">Dynamic (updated by device itself)</div>
			</td>
			<td style="border: 0 hidden;">
				<div class="display-field">
					@Html.DisplayFor(model => model.Dynamic)
				</div>
			</td>
		</tr>

		<tr>
			<td style="border: 0 hidden;">
				<div class="display-label">Attribute name</div>
			</td>
			<td style="border: 0 hidden;">
				<div class="display-field">
					@Html.DisplayFor(model => model.Name)
				</div>
			</td>
		</tr>

		<tr>
			<td style="border: 0 hidden;">
				<div class="display-label">COSEM data type</div>
			</td>
			<td style="border: 0 hidden;">
				<div class="display-field">
					@Html.DisplayFor(model => model.COSEMDataTypeName)
				</div>
			</td>
		</tr>

		<tr>
			<td style="border: 0 hidden;">
				<div class="display-label">Min. value</div>
			</td>
			<td style="border: 0 hidden;">
				<div class="display-field">
					@Html.DisplayFor(model => model.MinValue)
				</div>
			</td>
		</tr>

		<tr>
			<td style="border: 0 hidden;">
				<div class="display-label">Max. value</div>
			</td>
			<td style="border: 0 hidden;">
				<div class="display-field">
					@Html.DisplayFor(model => model.MaxValue)
				</div>
			</td>
		</tr>

		<tr>
			<td style="border: 0 hidden;">
				<div class="display-label">Def. value</div>
			</td>
			<td style="border: 0 hidden;">
				<div class="display-field">
					@Html.DisplayFor(model => model.DefValue)
				</div>
			</td>
		</tr>
	</table>
</fieldset>
@using (Html.BeginForm()) {
	<p>
		<input type="submit" value="Delete" />
	</p>
}
