@model web.Models.ViewDevice

@{
	ViewBag.Title = "Delete meter";
	Layout = "~/Views/Shared/_LayoutAcquisition.cshtml";
}

<h2>@Html.Raw(ViewBag.Title)</h2>

<p>
	@Html.ActionLink("Meters", (String)("GroupDevices/" + ViewBag.CurrentGroupID.ToString()))
</p>

<h3>Are you sure you want to delete this meter?</h3>
<fieldset>
	<legend>Meter properties</legend>

	<table style="width:100%;">
		<tr>
			<td style="border: 0 hidden;">
				<div class="display-label">Meter name</div>
			</td>
			<td style="border: 0 hidden;">
				<div class="display-field">
					@Html.DisplayFor(model => model.Name)
				</div>
			</td>
			<td style="border: 0 hidden;">
				<div class="display-label">Group name</div>
			</td>
			<td style="border: 0 hidden;">
				<div class="display-field">
					@Html.DisplayFor(model => model.GroupName)
				</div>
			</td>
		</tr>

		<tr>
			<td style="border: 0 hidden;">
				<div class="display-label">Meter type</div>
			</td>
			<td style="border: 0 hidden;">
				<div class="display-field">
					@Html.DisplayFor(model => model.DeviceTypeName, "Meter type")
				</div>
			</td>
			<td style="border: 0 hidden;">
			</td>
			<td style="border: 0 hidden;">
			</td>
		</tr>
	</table>
</fieldset>
@using (Html.BeginForm()) {
	<p>
		<input type="submit" value="Delete" name="Submit" id="Submit" />
	</p>
}
